{% extends 'base.html.twig' %}


{% block body %}

<div class="container mt-4">
<h1>Agence Lorem ipsum</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, eaque nulla. Maiores ipsam libero in officiis est inventore nemo, dolores et praesentium ducimus quam sunt vel repellat nobis perspiciatis quis.</p>
</div>
{% endblock %}